<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand" href="{{ _SERVER["BASE_URI"] }}index.php">{{ ownerUser.getFirstname()~" "~ownerUser.getLastname()	}}</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden">
					<a href="#page-top">{{ ownerUser.getFirstname()~" "~ownerUser.getLastname() }}</a>
				</li>
				<li class="page-scroll">
					<a href="#portfolio">Portfolio</a>
				</li>
				<li class="page-scroll">
					<a href="#about">A propos</a>
				</li>
				<li class="page-scroll">
					<a href="#contact">Contact</a>
				</li>
				{% if _SESSION is empty %}
				<li class="page-scroll">
					<a href="{{ _SERVER["BASE_URI"] }}index.php?action=login-page">Se connecter</a>
				</li>
					<li class="page-scroll">
					<a href="{{ _SERVER["BASE_URI"] }}index.php?action=sign-up-page">Créer un compte</a>
				</li>
				{% elseif _SESSION is not empty %}
					<li class="page-scroll">
					<a href="{{ _SERVER["BASE_URI"] }}index.php?action=new-post-page">Rédiger un article</a>
				<li class="page-scroll">
					<a href="{{ _SERVER["BASE_URI"] }}index.php?action=logout">Se déconnecter</a>
				</li>
				{% endif %}
			</ul>
		</div>
		{% if _SESSION["success"] is not empty %}
			<div class="alert alert-success" role="alert">
				<div class="container">
					<div class="alert-icon">
						<i class="zmdi zmdi-thumb-up"></i>
					</div>
					<strong>Well done!</strong> {{ _SESSION["success"] }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
            <i class="zmdi zmdi-close"></i>
        </span>
					</button>
				</div>
			</div>
		{% endif %}
		{% if _SESSION["error"] is not empty %}
			<div class="alert alert-danger" role="alert">
				<div class="container">
					<div class="alert-icon">
						<i class="zmdi zmdi-block"></i>
					</div>
					<strong>Oh snap! </strong> {{ _SESSION["error"] }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close"></i>
                            </span>
					</button>
				</div>
			</div>
		{% endif %}
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive" src="{{ _SERVER["BASE_URI"] }}assets/img/profile.png" alt="">
				<div class="intro-text">
					<span class="name">{{ ownerUser.getFirstname() }} {{
						ownerUser.getLastname() }}</span>
					<hr class="star-light">
					<span class="skills">Développeur web back-end PHP/SYMFONY</span>
				</div>
			</div>
		</div>
	</div>
</header>


