<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
	<a class="btn btn-primary" href="#page-top">
		<i class="fa fa-chevron-up"></i>
	</a>
</div>
<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal{{ postObject.getId() }}" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ postObject.getTitle() }}</h2>
                        <hr class="star-primary">
                        <img src="{{ _SERVER["BASE_URI"] }}assets/img/portfolio/cabin.png"
                             class="img-responsive img-centered" alt="">
                        <p>{{ postObject.getHeading() }}</p>
                        <p>{{ postObject.getContent() }}</p>
                        <ul class="list-inline item-details">
                            <li>Auteur:
                                <strong>{{ postObject.postAuthor.getFirstname()~" "~postObject.postAuthor.getLastname() }}
                                </strong>
                            </li>
                            <li>Date:
                                <strong>{{ postObject.getCreatedAt()|date("d/m/Y") }}
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        {% for comment in postObject.postComments %}
                            <div class="modal-body">
                                <h3>{{ comment.getTitle() }}</h3>
                                <p>{{ comment.getContent() }}</p>
                                <ul class="list-inline item-details">
                                    <li>Auteur:
                                        <strong>{{ comment.commentAuthor.getFirstname()~" "~comment.commentAuthor.getLastname() }}
                                        </strong>
                                    </li>
                                    <li>Date:
                                        <strong>{{ comment.getCreatedAt()|date("d/m/Y") }}</strong>
                                    </li>
                                </ul>
                            </div>
                        {% endfor %}

                        <br><br>
                        <div class="row">
                            {% if loggedInUser is defined %}
                            <div class="col-lg-8 col-lg-offset-2">
                                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                                <form name="sentComment" id="contactForm" novalidate=""
                                      data-dashlane-rid="a7a48980b577b880" data-form-type="contact" method="POST"
                                      action="{{ _SERVER['BASE_URI'] }}index.php?action=user-register">
                                    <div class="row control-group">
                                        <div class="form-group col-xs-12 floating-label-form-group controls">
                                            <label>Titre</label>
                                            <input type="text" class="form-control" placeholder="Title" id="Title"
                                                   required="" data-validation-required-message="Veuillez entrer un
                                                   titre"
                                                   data-dashlane-rid="0840ea6118458db9"
                                                   data-kwimpalastatus="alive" data-kwimpalaid="1678747375732-0"
                                                   aria-invalid="false" data-form-type="title">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <label>Commentaire</label>
                                        <textarea rows="5" class="form-control" placeholder="Commentaire"
                                                  id="Commentaire"
                                                  required
                                                  data-validation-required-message="Veuillez rédiger votre
                                                      commentaire."
                                                  data-dashlane-rid="1745ba34006beafb"
                                                  data-form-type="other"></textarea>
                                        <p class="help-block text-danger"></p>
                                        <input type="hidden" name="CSRFToken" id="CSRFToken" value="{{ CSRFToken
                                        }}" >
                                    </div>
                                    </div>

                                    <br>
                                    <div id="success"></div>
                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <button type="submit" class="btn btn-success btn-lg"
                                                    data-dashlane-rid="55f933ab7c0de50e" data-dashlane-label="true"
                                                    data-form-type="action">Envoyer
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            {% else %}
                                <h4>Connectez-vous ou inscrivez-vous pour soumettre un commentaire</h4>
                        <br>
                                <form class="form" method="POST" action="{{ _SERVER["BASE_URI"] }}index.php?action=login-page">
                                <div class="form-group col-xs-12">
                                    <button type="submit" class="btn btn-success btn-lg"
                                            data-dashlane-rid="55f933ab7c0de50e" data-dashlane-label="true"
                                            data-form-type="action">Se connecter
                                    </button>
                                </div>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                        <br><br>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa
						fa-times"></i> Fermer la fenêtre
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

