{% extends 'adminMain/admin-base.html.twig' %}

{% block body %}

<section class="content blog-page">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Article
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Compass</a></li>
                    <li class="breadcrumb-item"><a href="blog-dashboard.html">Blog</a></li>
                    <li class="breadcrumb-item active">Blog Detail</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="card single_post">
                    <div class="body">
                        <h3 class="m-t-0 m-b-5"><a href="blog-details.html">{{ postObject.getTitle() }}</a></h3>
                        <ul class="meta">
                            <li><a href="#"><i class="zmdi zmdi-account col-blue"></i>Auteur: </a></li>
                            <li><a href="#"><i class="zmdi zmdi-label col-red"></i>Photography</a></li>
                            <li><a href="#"><i class="zmdi zmdi-comment-text col-blue"></i>Comments: </a></li>
                            <li><a href="#"><i class="zmdi zmdi-comment-text col-blue"></i>Validé le:
                                    </a></li>
                        </ul>
                    </div>                    
                    <div class="body">
                        <div class="img-post m-b-15">
                            <img src="{{ _SERVER["BASE_URI"] }}assets/images/blog/blog-page-1.jpg" alt="Awesome Image">
                        </div>
                        <h1>{{ postObject.getTitle() }}</h1>
                        <p>{{ postObject.getHeading() }}</p>
                        <p>{{ postObject.getContent() }}</p>
                    </div>
                    <form id="form_validation" method="POST" action="{{ _SERVER["BASE_URI"] }}index.php?action=validated-post" novalidate="novalidate">
                        <button class="btn btn-round
                        btn-success">Valider</button>
                        <input type="hidden" name="post-id" value="{{ postObject.getId() }}">
                        <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}">
                    </form>
                    <form id="form_validation" method="POST" action="{{ _SERVER["BASE_URI"] }}index.php?action=rejected-post" novalidate="novalidate">
                        <button class="btn btn-round
                        btn-danger">Rejeter</button>
                        <input type="hidden" name="post-id" value="{{ postObject.getId() }}">
                        <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}