{% extends 'adminMain/admin-base.html.twig' %}

{% block body %}
<section class="content blog-page">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Liste
                </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12 left-box">
                {# PARTIE LISTE DES ARTICLES #}
                {% if postsArray is not empty %}
                {% for post in postsArray %}
                <div class="card single_post">
                    <div class="body">
                        <h3 class="m-t-0 m-b-5">{{ post.getTitle() }}</h3>
                        <ul class="meta">
                            <li><a href="#"><i class="zmdi zmdi-account col-blue"></i>Auteur: {{ post.author.getFirstname()
                                    ~" "~ post.author.getLastname() }}</a></li>
                            {% if post.getUpdatedAt() is not empty %}
                            <li><a href="#"><i class="zmdi zmdi-account col-blue"></i>Mis à jour le: {{
                                    post.getUpdatedAt() }}</a></li>
                            {% endif %}
                            {% if post.commentsNumber is not empty %}
                                <li><a href="#"><i class="zmdi zmdi-account col-blue"></i>Commentaires: {{
                                        post.commentsNumber.total }}</a></li>
                            {% endif %}
                        </ul>
                    </div>                    
                    <div class="body">
                        <p>{{ post.getHeading }}</p>
                        <form id="form_validation" method="POST" action="{{ _SERVER["BASE_URI"] }}index.php?action=single-post-page">
                        <button href="blog-details.html" title="read more" class="btn btn-round btn-info">Voir
                            l'article</button>
                            <input type="hidden" name="post-id" value="{{ post.getId() }}">
                        </form>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}