{% extends 'adminMain/admin-base.html.twig' %}

{% block body %}

<section class="content blog-page">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Article
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Compass</a></li>
                    <li class="breadcrumb-item"><a href="blog-dashboard.html">Blog</a></li>
                    <li class="breadcrumb-item active">Blog Detail</li>
                </ul>
            </div>
        </div>
    </div>
    {% if error is not empty  %}
        <div class="alert alert-danger" role="alert">
            <div class="container">
                <div class="alert-icon">
                    <i class="zmdi zmdi-block"></i>
                </div>
                <strong>Oh snap!</strong> {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="zmdi zmdi-close"></i>
                    </span>
                </button>
            </div>
        </div>
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="card single_post">
                    <div class="body">
                        <h3 class="m-t-0 m-b-5"><a href="blog-details.html">{{ postObject.getTitle() }}</a></h3>
                        <ul class="meta">
                            <li><a href="#"><i class="zmdi zmdi-account col-blue"></i>Auteur: {{ postObject.getFirstname()~" "~postObject.getLastname()}}</a></li>
                            <li><a href="#"><i class="zmdi zmdi-label col-red"></i>Photography</a></li>
                            <li><a href="#"><i class="zmdi zmdi-comment-text col-blue"></i>Comments: 3</a></li>
                        </ul>
                    </div>                    
                    <div class="body">
                        <div class="img-post m-b-15">
                            <img src="../../assets/images/blog/blog-page-1.jpg" alt="Awesome Image">
                            <div class="social_share">                            
                                <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-facebook"></i></button>
                                <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-twitter"></i></button>
                                <button class="btn btn-primary btn-icon btn-icon-mini btn-round"><i class="zmdi zmdi-instagram"></i></button>
                            </div>
                        </div>
                        <p>{{ postObject.getHeading() }}</p>
                        <p>{{ postObject.getContent() }}</p>
                    </div>
                    <form id="form_validation" method="POST" action="{{ _SERVER["BASE_URI"] }}index
                    .php?action=validated-post" novalidate="novalidate">
                        <button href="blog-details.html" title="read more" class="btn btn-round
                        btn-success">Valider</button>
                        <input type="hidden" name="post-title" value="{{ postObject.getTitle() }}">
                    </form>
                    <form id="form_validation" method="POST" action="{{ _SERVER["BASE_URI"] }}index
                    .php?action=rejected-post" novalidate="novalidate">
                        <button href="blog-details.html" title="read more" class="btn btn-round
                        btn-danger">Rejeter</button>
                        <input type="hidden" name="post-title" value="{{ postObject.getTitle() }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}