{% extends 'adminMain/admin-base.html.twig' %}

{% block body %}

    <section class="content">
        <!-- Validation Stats -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Informations</strong> de validation </h2>
                    </div>
                    <div class="body">
                            {% if success is not empty %}
                        <div class="alert alert-success" role="alert">
                            <div class="container">
                                <div class="alert-icon">
                                    <i class="zmdi zmdi-thumb-up"></i>
                                </div>
                                <strong>Well done!</strong> {{ success }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">
                                        <i class="zmdi zmdi-close"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                            {% elseif error is not empty  %}
                        <div class="alert alert-danger" role="alert">
                            <div class="container">
                                <div class="alert-icon">
                                    <i class="zmdi zmdi-block"></i>
                                </div>
                                <strong>Oh snap!</strong> {{ error }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">
                                        <i class="zmdi zmdi-close"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- #END# Validation Stats -->
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    {% if userObject is empty %}
                    <h2>Ajouter un nouvel utilisateur
                    </h2>
                    {% else %}
    <h2>Bienvenue {{ userObject.getFirstname() }}</h2>
                    {% endif %}
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Compass</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
                        <li class="breadcrumb-item active">Form Validation</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <!-- Basic Validation -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Basic</strong> Validation</h2>
                            <ul class="header-dropdown">
                                <li class="dropdown"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>
                                    </ul>
                                </li>
                                <li class="remove">
                                    <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form id="form_validation" method="POST" action="{{ _SERVER['BASE_URI'] }}index.php?action={{ (userObject is not empty) ? 'update-user' : 'user-register' }}">
                                <div class="form-group form-float">
                                    <input type="text" class="form-control" placeholder="Nom" name="lastname"
                                           value="{{ (userObject is not empty) ? userObject.getLastname() : "" }}" required>
                                </div>
                                <div class="form-group form-float">
                                    <input type="text" class="form-control" placeholder="Prénom" name="firstname"
                                           value="{{ (userObject is not empty) ? userObject.getFirstname() : "" }}" required>
                                </div>
                                <div class="form-group form-float">
                                    <input type="email" class="form-control" placeholder="Email" name="email"
                                           value="{{ (userObject is not empty) ? userObject.getEmail() : "" }}" required>
                                    {% if userObject is not empty %}
                                    <input type="hidden" class="form-control"
                                           name="lastEmail" value="{{ userObject.getEmail()}}">
                                    {% endif %}
                                </div>
                                <div class="form-group form-float">
                                    <input type="text" class="form-control" placeholder="Numéro de téléphone"
                                           name="phone_number" value="{{ (userObject is not empty) ? userObject
                                        .getPhoneNumber() : "" }}">
                                </div>
                                <div class="form-group form-float">
                                    <input type="text" class="form-control" placeholder="Linkedin" name="linkedin"
                                           value="{{ (userObject is not empty) ? userObject.getSocialLinkedin() : "" }}">
                                </div>
                                <div class="form-group form-float">
                                    <input type="text" class="form-control" placeholder="Twitter" name="twitter"
                                           value="{{ (userObject is not empty) ? userObject.getSocialTwitter() : "" }}">
                                </div>
                                {% if userObject is not empty %}
                                    <div class="radio">
                                        <input type="radio" name="role_title" id="radio1" value="admin" {{
                                        (userObject.getRoleId() is same as (ROLE_ADMIN)) ? "checked" : "" }}>
                                        <label for="radio1">
                                            Administrateur
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="role_title" id="radio2" value="utilisateur" {{
                                        (userObject.getRoleId() is same as (ROLE_USER) ) ? "checked" : "" }}>
                                        <label for="radio2">
                                            Utilisateur
                                        </label>
                                    </div>
                                {% else %}
                                    <div class="radio">
                                        <input type="radio" name="role_title" id="radio1" value="admin">
                                        <label for="radio1">
                                            Administrateur
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <input type="radio" name="role_title" id="radio2" value="utilisateur" checked>
                                        <label for="radio2">
                                            Utilisateur
                                        </label>
                                    </div>
                                <div class="form-group form-float">
                                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                                </div>
                                {% endif %}
                                <div class="form-group form-float">
                                    <input type="hidden" class="form-control" name="CSRFToken" value="{{CSRFToken}}">
                                </div>
                                <button class="btn btn-raised btn-primary btn-round waves-effect" type="submit">SOUMETTRE</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Basic Validation -->
        </div>
    </section>

{% endblock %}